.edit-box {
  cursor: pointer; }

.input-form {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  text-align: left;
  max-width: 400px; }

.input-form div.form-panel {
  position: absolute;
  top: 50%;
  right: 5px;
  height: 30px;
  font-size: 20px;
  margin-top: -15px;
  vertical-align: middle; }

.form-panel span {
  margin: 0 2px;
  padding: 0;
  cursor: pointer; }

.input-field-accept {
  color: green; }

.input-field-denied {
  color: red; }

.form-panel select {
  width: 100px;
  margin-right: 5px; }

.input-form input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  font-size: inherit;
  background: #F2F2F2; }

.form-name {
  font-size: 30px;
  text-transform: capitalize; }

.form-name .input-form {
  font-size: 30px; }

.form-location, .form-language {
  font-size: 14px;
  font-weight: bold;
  color: #212121;
  margin: 8px 0; }

.form-location .input-form, .form-language .input-form {
  font-size: 14px; }

.form-skill {
  margin: 10px 0; }
