div.skill {
  display: inline-block;
  background: #000000;
  color: #FFFFFF;
  margin: 0 5px 0 0;
  position: relative;
  padding: 2px 5px;
  text-align: center;
  border-radius: 2px; }
  div.skill span.delete-btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 1px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    background: red;
    padding: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: baseline;
    margin-top: -10px; }

div.skill:hover span.delete-btn {
  display: block; }
