html, body {
  min-height: 100%;
  height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  background-color: #F2F2F2; }

.wrapper {
  margin: 20px auto;
  max-width: 960px; }

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: stretch; }

.item {
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  flex: 1 1 25%;
  min-width: 200px;
  flex-basis: 25%; }

.item.more {
  background: #ffffff; }

.item.more p {
  padding: 5px; }

.item.more div.title {
  padding-top: 10px;
  height: 40px;
  text-align: center;
  vertical-align: baseline;
  background: rgba(255, 255, 255, 0.7); }

.item.more div.title h4 {
  margin: 0 0 5px 0;
  padding: 0; }

.item.more.code {
  background: #ffffff url("./assets/images/code.gif") no-repeat top left; }

.item.more.double {
  text-align: center;
  padding: 0; }

.item.more.double div.bordered {
  border-top: 1px solid #f2f2f2; }

.item.photo {
  overflow: hidden;
  flex-basis: 25%;
  background: #BDBDBD; }

.item.photo img {
  max-width: 100%;
  min-height: 100%;
  width: 100%; }

.item.about {
  flex-basis: 75%;
  background: #BDBDBD;
  padding: 10px;
  box-sizing: border-box;
  min-width: 150px; }

blockquote {
  display: block;
  padding: 10px 20px;
  margin: 0 0 20px;
  position: relative; }

blockquote::before, blockquote::after {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
  color: #999;
  position: absolute;
  opacity: 0.7; }

blockquote::before {
  content: '\201C';
  left: 0;
  top: 0; }

blockquote::after {
  content: '\201D';
  bottom: -35px;
  right: 0; }

blockquote > span {
  display: block;
  font-weight: bold;
  text-align: right; }

@media (max-width: 815px) {
  .item.more.blank {
    display: none; } }
